<section id="blogPostContainer">
    <div class="card" id="cardContainer">
    <div class="card-content">
        <div class="media">
        <div class="media-content" id="blogContainer">
            <p class="title is-4" id="blogTitleEdits">{{blog_title}}</p>
            <p class="subtitle is-6" id="usernameEdits">{{user.username}}</p>
            <p id="blogContent">{{content}}</p>
            <p id="createdDate">{{format_date date_created}}</p>
            <input class="input" id="comment" type="text" placeholder="Add a comment...">
            <button class="button is-link" id="commentButton">Submit Comment</button>
        </div>
        </div>
    </div>
    </div>
</section>
