<section id="blogPostContainer">
    <div class="card" id="cardContainer">
    <div class="card-content">
        <div class="media">
        <div class="media-content" id="blogContainer">
            <p class="title is-4" id="blogTitleEdits">Tech Blog Post</p>
            <p class="subtitle is-6" id="usernameEdits">JohnSmith1234</p>
            <p id="blogContent">This is the blog content that we will use as a sample</p>
            <p id="createdDate">11/4/2023</p>
            <input class="input" id="comment" type="text" placeholder="Add a comment...">
            <button class="button is-link" id="commentButton">Submit Comment</button>
        </div>
        </div>
    </div>
    </div>
</section>
