<section id="introContainer">
    <div>
      <p class="title is-4" id="introEdits"> Lets Blog! is a learning space for those interested in all things tech! Check out our array of blogs below or create your own blogs and share your experiences with other techies! Sign up today and join the Lets Blog! community!
      </p>
    </div>
</section>
<section id="homePageContainer">
  <div class="card" id="cardContainerHome">
    <div class="card-content">
      <div class="media">
        <div class="media-content" id="blogContainerHome">
          <p class="title is-4" id="blogTitleEdits">Tech Blog Post</p>
          <p class="subtitle is-6" id="usernameEdits">JohnSmith1234</p>
          <p class="subtitle is-6" id="createdDate">11/4/2023</p>
        </div>
      </div>
    </div>
  </div>
</section>