<section id="introContainer">
    <div>
      <p class="title is-4" id="introEdits"> Lets Blog! is a learning space for those interested in all things tech! Check out our array of blogs below or create your own blogs and share your experiences with other techies! Sign up today and join the Lets Blog! community!
      </p>
    </div>
</section>
{{#each blogs as |blog|}}
<section id="homePageContainer">
  <div class="card" id="cardContainerHome">
    <div class="card-content">
      <div class="media">
        <div class="media-content" id="blogContainerHome">
          <a href="/blog/{{blog.id}}" class="title is-4" id="blogTitleEdits">{{blog.blog_title}}</a>
          <p class="subtitle is-6" id="usernameEdits">JohnSmith1234</p>
          <p class="subtitle is-6" id="createdDate">{{blog.createdAt}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
{{/each}}