<section id="pleaseContainer">
    <div id="loginTextContainer">
    <p class="title is-4" id="pleaseEdits"> Please Sign Up or Login to Continue
    </p>
    </div>
</section>
<section class="card" id="signupContainer">
     <form id="signupForm">
    <div class="card-content" id="formContent">
    <div class="media-content" id="loginTextContainer">
        <p class="title is-4" id="signUpText">Sign Up</p>
    </div>
    <div id="contentPadding">
        <div class="field">
        <p class="control">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
        </p>
        </div>
    <div class="field">
        <p class="control">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
        </p>
    </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
        </div>
    </div>
    </div>
    </form>
</section>
<section class="card" id="loginContainer">
     <form id="loginForm">
    <div class="card-content" id="formContent">
    <div class="media-content" id="loginTextContainer">
        <p class="title is-4" id="loginText">Login</p>
    </div>
    <div id="contentPadding">
        <div class="field">
        <p class="control">
            <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
        </p>
        </div>
    <div class="field">
        <p class="control">
           <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
        </p>
    </div>
        <div class="field">
        <p class="control">
            <button class="button is-link">
            Login
            </button>
        </p>
        </div>
    </div>
    </div>
    </form>
</section>
<script src="/javascript/login.js"></script>